DEEPGRAM_API_KEY=012dc5b09bbe2f41e84465cdc3816dffe09eddc1
DEEPGRAM_TTS_MODEL=aura-2-thalia-en
DEEPGRAM_STT_URL=wss://api.deepgram.com/v1/listen?punctuate=true&interim_results=true&endpointing=300

OPENAI_API_KEY=sk-pJQ131FjcX9HtbIAQvCWLw
OPENAI_BASE_URL=https://llm.app.emlylabs.com/v1
AI_VALIDATION_MODEL=openai/gemini/gemini-2.0-flash-lite

DATABASE_PATH=app.db
MAX_RETRIES_PER_ITEM=3
CONVERSATION_DEFINITIONS_DIR=app/conversation_definitions
